:root {
  --softOrange: hsl(35, 77%, 62%);
  --softRed: hsl(5, 85%, 63%);
  --offWhite: hsl(36, 100%, 99%);
  --grayishBlue: hsl(233, 8%, 79%);
  --darkGrayishBlue: hsl(236, 13%, 42%);
  --veryDarkBlue: hsl(240, 100%, 5%);
  --bakcgroundColor: #f2f2f2;
}

body {
  background-color: var(--bakcgroundColor);
  font-family: "Inter", sans-serif;
  font-size: 15px;
}

h1,
h2,
h3,
h4,
h5,
p,
ul,
li,
figure {
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  padding: 0 45px;
  margin: 0 auto;
}

/* HEADER */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 89px;
  padding-bottom: 55.1px;
}

.navbar__page-links {
  color: var(--darkGrayishBlue);
  list-style: none;
  line-height: 1.73;
  display: flex;
  gap: 40px;
}

.navbar__link {
  text-decoration: none;
  color: var(--darkGrayishBlue);
}

.navbar__link:hover,
.navbar__link:focus {
  color: var(--softRed);
}

/* MAIN */
.main-section {
  display: flex;
  gap: 30px;
  margin-bottom: 71px;
}

.main-section__picture {
  margin-bottom: 28px;
}

.main-section__title-container {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.main-section__title {
  color: var(--veryDarkBlue);
  font-weight: 800;
  font-size: 56px;
}

.main-section__title-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 350px;
  gap: 29px;
}

.main-section__title-text {
  color: var(--darkGrayishBlue);
  line-height: 1.73;
}

.main-section__title-button {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 1.71;
  letter-spacing: 4.375px;
  background-color: var(--softRed);
  color: var(--offWhite);
  border: 0;
  padding: 13px 35px 11px 31px;
}

.main-section__title-button:hover,
.main-section__title-button:focus {
  cursor: pointer;
  background-color: var(--veryDarkBlue);
}

.news {
  background-color: var(--veryDarkBlue);
  min-width: 350px;
}

.news__list {
  list-style: none;
  padding: 32px 24px 31px;
}

.news__title {
  font-weight: 700;
  font-size: 40px;
  color: var(--softOrange);
  margin-bottom: 34px;
}

.news__elements:not(:last-child) {
  padding-bottom: 29px;
}

.news__elements:nth-child(-n + 3) {
  border-bottom: 1px solid var(--darkGrayishBlue);
}

.news__elements:nth-child(n + 3) {
  padding-top: 31px;
}

.news__name {
  font-weight: 800;
  font-size: 20px;
  line-height: 1.2;
  color: var(--offWhite);
  margin-bottom: 8px;
}

.news__name:hover {
  cursor: pointer;
  color: var(--softOrange);
}

.news__desc {
  line-height: 1.73;
  color: var(--grayishBlue);
}

.articles {
  list-style: none;
  display: flex;
  gap: 30px;
}

.articles__box {
  max-width: 350px;
}

.articles__article {
  list-style: none;
}

.articles__projects {
  display: flex;
  gap: 24px;
}

.articles__count {
  font-size: 32px;
  font-weight: 700;
  color: var(--grayishBlue);
  padding-bottom: 12px;
}

.articles__link {
  font-size: 18px;
  font-weight: 800;
  line-height: 1.33;
  color: var(--veryDarkBlue);
  text-decoration: none;
  padding-bottom: 9px;
}

.articles__link:hover,
.articles__link:focus {
  color: var(--softRed);
}

.articles__desc {
  color: var(--darkGrayishBlue);
  line-height: 1.73;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 30px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
